@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kenneth Sörling<br />
    <abbr title="Phone">P:</abbr>
    +46 73 891 46 30<br />
    <a href="kennethsorling@mail.com">kennethsorling@mail.com</a><br />
    <a href="kenneth.sorling@gmail.com">kenneth.sorling@gmail.com</a>

</address>

<p>
    @Html.ActionLink("Back To Home Page", "Index", "Home")
</p>

